@import "../../../sass/settings.scss";

.careers-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -4rem;

    &-titles {
        margin-top: 5rem;

        &-main {
            display: inline-block;
            text-align: center;
            width: 100%;
        }
        &-additional {
            font-size: 16px;
            font-weight: 300;
            line-height: 2.25;
            text-align: center;
            color: var(--color-dark-grey-background);
            width: 50%;
            margin: 0 auto;
            padding-bottom: 4rem;

            @media(--tablet-max) {
                width: 100%;
                margin-top: -1.5rem;
            }
        }
    }

    &-wrapper {
        padding-bottom: 5rem;
    }
}